/* Disable scrolling */
html, body {
  touch-action: manipulation; /* Disable zooming via double-tap */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none; /* Prevents text selection */
}

.app-container {
  height: 100vh; /* the app container takes up the full viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}